.section-hero{
    width: 100%;
    display: flex;
    align-items: center;  
    padding: 0.5rem;
    font-size: medium;
}

  
.section-hero a {
    color: var(--clr-primary-3);
    transition: var(--transition);
    padding:0.4rem 0.01rem;
    font-weight: 600;
}

.section-hero a:hover {
    color: var(--clr-primary-1);
}